<h1>Welcome Warzone Warriors!</h1>

<p>You can confirm your account email through the link below and register your team:<br>
<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<h3>Things to note:</h3><br>
<p>
    - The lobby will open on <strong>Jan 2 2021 2pm SGT</strong>.<br>
    - Add Blazooks#0 as a friend on Warzone to be able to join my custom game.<br>
    - The team number listed in the table will be your team number when in the pre-game lobby. Please go to the right team number.<br>
    - Join our <a href='https://discord.gg/QMEJQmwqVW'>Discord Server</a> for instructions on the day itself.<br>
    - This is purely for entertainment purposes. Don't take this too seriously. Just have fun and bring along friends too!
</p>